# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Python
backend/venv/
backend/__pycache__/
backend/**/*.pyc
backend/db.sqlite3

# React
frontend/node_modules/
frontend/dist/

# Environment variables
.env
.env.*

# Logs
*.log